<% if(username) {%>
<div style="text-align: right; margin: 10px">
    <p><b>Hello, <%= username %></b></p>
</div>
<% } else { %>
<div style="text-align: right; margin: 10px">
    <p><b>Hello, Guest</b></p>
</div>
<% } %>